*{
  margin: 0 ;
  padding: 0 ;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

.nav-item{
  color: dimgray;
  margin: auto;
}


.text-lg{
  font-size: 30px;
}

.text-sm{
  font-size: 20px;
}
.text-xsm{
  font-size: 12px;
}

.navbar{
  /* background-color: antiquewhite; */
  align-items: center;
  padding: 16px 0px 4px 32px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.left{
  width: 80%;
}

.right{
  width: 20%;
  display: flex;
  flex-direction: row;
}

.profile-link{
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}



.content{
  margin-top: 0.6rem;
}

.pic-item{
  width: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}


.item{
  width:inherit;
  border-radius: 8px;
}


.btn-item{
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem;
}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btn{
  border: 2px solid #645CAA;
  border-radius: 4px;
  width: auto;
  margin: 0;
  padding: 2px 8px;
  cursor: pointer;
  background-color: white;
  font-size: 14px;
}

.btn:hover{
  background-color: #645CAA;
  color: white;
  
}

.download{
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.preview{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.credit-name{
  width: auto;
  margin: 0;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 14px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  padding:5rem 5rem;
  width: 20%;
  margin: auto;
  margin-top: 8rem;
  border: 1px solid lightgrey;
  border-radius: 12px;
}

/* .container{
  
} */

.text-field{
  border: 1px solid lightgrey;
  border-radius: 6px;
  margin: 8px 4px;
  padding: 4px;
  width: 80%;
}

.signin-btn{
  width: 8rem;
  margin: 14px 4px;
  padding: 4px;
  border-radius: 6px;
  background-color: #645CAA;
  color: white;
}

.signin-btn:hover{
  background-color: #584fa7;
}

.signin-text{
  margin: 4px auto 16px auto;
}

.profile-icon{
  width: 10%;
  padding:0;
  
  align-items: center;
  justify-content: center;
  margin: auto 8px;
}



@media only screen and (max-width: 600px) {
  .content{
      display: flex;
      flex-direction: column;
  }
  .row{
      display: flex;
      flex-direction: column;
      width: 80%;
  }
}

